<!--ユーザー一覧-->
<% users.each do |user| %>
<div class="user-contents">
    <div class="user-icon">
        <%= attachment_image_tag user, :profile_image, :fill, 150, 150, fallback: "img/no_image.jpg", class:"profile-image" %>
    </div>
    <div class="user-details">
        <h3 class="user-text"><%= link_to user.name, user_path(user), class:"index-user" %></h3>
        <p class="user-text">性別：<%= user.gender %></p>
        <p class="user-text">身長・体重：<%= user.tall_weight %></p>
        <P class="user-text">自己紹介<br/><%= user.introduction %></P>
    </div>
</div>
<% end %>