<div class="container">
  <div class="edit-profile-container">
    <div class="edit-profile-form">
      <h2 class="edit-profile-title">プロフィール編集</h2>
      <%= form_with model:@user, local:true do |f| %>
      <div class="form-detail">
        <%= f.label :"ユーザーネーム", class:"form-label" %>
        <%= f.text_field :name, autofocus: true, placeholder:"ユーザーネームを入力", class:"form-input", placeholder:"名前"%>
      </div>
      <div class="form-detail">
        <%= f.label :"身長・体重", class:"form-label" %>
        <%= f.text_field :tall_weight, autofocus: true, placeholder:"○○○cm / ○○kg", class:"form-input", placeholder:"○○○cm/○○kg"%>
      </div>
      <div class="form-detail">
        <%= f.label :"プロフィール画像", class:"form-label" %>
        <%= attachment_image_tag @user, :profile_image, :fill, 400, 400, fallback: "img/no_image.jpg", class:"edit-profile-image"%>
        <%= f.attachment_field :profile_image, class:"form-image" %>
      </div>
      <div class="form-detail">
        <%= f.label :"自己紹介", class:"form-label" %>
        <%= f.text_area :introduction, autofocus: true, placeholder:"例）出身・ホームポイント・好きなサーファーetc..", class:"form-input-introduction" %>
      </div>
      <div class="form-detail">
        <%= f.submit "変更を保存", class:"form-input" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
