<a><%= link_to "プロフィール編集", edit_user_path(@user) %></a>
<div class="profile-container">
  <h1>プロフィール</h1>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "img/no_image.jpg"%>
  <h3 class="profile-name"><%= @user.name %></h3>
  <p><%= @user.gender %></p>
  <p><%= @user.tall_weight %></p>
  <P><%= @user.introduction %></P>
  <p><%= link_to "NICE一覧", favorites_users_path(@user.id) %></p>
  <p>フォロー数：<%= link_to "#{@user.followings.count}", user_followings_path(@user.id) %></p>
  <p>フォロワー数:<%= link_to "#{@user.followers.count}", user_followers_path(@user.id) %></p>
  <% if current_user.following?(@user) %>
    <%= link_to "Unfollow", user_relationships_path(@user.id), method: :delete %>
  <% else %>
    <%= link_to "Follow", user_relationships_path(@user.id), method: :post %>
  <% end %>
</div>

<%= render 'posts/post-index', posts: @posts %>
