<div class="container">
  <div class="form-container">
    <div class="post-form">
      <%= form_with model: post, local: true do |f| %>
      <div class="form-detail">
      　<%= f.label :"ボードのモデル", class:"form-label" %>
      　<%= f.text_field :title, placeholder:"例）CI MID", class:"form-input" %>
      </div>
      <div class="form-detail">
      　<%= f.label :"ボードの説明", class:"form-label" %>
      　<%= f.text_area :body, placeholder:"例）フィンシステム・おすすめのフィンセッティング・乗り心地・おすすめのサーファーのレベル　etc..", class:"form-input-introduction" %>
      </div>
      <div class="form-detail">
      　<%= f.label :"ボードのサイズ・浮力", class:"form-label" %>
      　<%= f.text_field :size, placeholder:"○.○ft / ○○L", class:"form-input" %>
      </div>
      <div class="form-detail">
      　<%= f.label :"ボードの画像", class:"form-label" %>
      　<%= f.attachment_field :post_images_images, multiple: true, class:"form-image" %>
      　<p>画像を複数投稿する際は、Shiftキーを押しながらマウスでクリックして選択してください。</p>
      </div>
      <div class="form-detail">
      　<%= f.label :"ジャンル", class:"form-label" %>
      　<%= f.select :genre, [["ショートボード"],["ミッドレングス"],["ロングボード"],["ソフトボード"],["その他"]], {}, {class: "select-input"} %>
      </div>
      <div class="form-detail">
      　<%= f.label :"ブランド", class:"form-label" %>
      　<div class="form-brand">
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
          <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>｜
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="form-detail">
        <%= f.submit :"POST", class:"post-form-control"  %>
      </div>
      <% end %>
    </div>
  </div>
</div>