<div class="search-container">
  <div class="search-contents">
    <!--ブランドタグ検索フォーム-->
    <div class="brand-search">
      <p>ブランドで検索</p>
      <%= form_tag posts_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :tag_id,options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
          { prompt: "ブランドで絞り込む",onchange: 'submit(this.form);', class:"select-input"}
        %>
      <% end %>
    </div>
    <!--キーワード検索フォーム-->
    <div class="keyword-search">
    <p>キーワードで検索</p>
    <% if user_signed_in? %>
      <%= form_with url:search_path, method: :get, local: true do |f| %>
        <%= f.select 'search[model]', options_for_select({ "ユーザーをキーワード検索" => "user", "ボード名をキーワード検索" => "post" }), {}, {class: "select-input"} %>
        <%= f.text_field 'search[value]', placeholder:"キーワードを入力", class:"form-input" %>
        <%= f.submit :"検索", class:"search-submit" %>
      <% end %>
    <% end %>
    </div>
    <!--ジャンル検索フォーム-->
    <div class="genre-search">
      <p>ボードの種類で検索</p>
    <% if user_signed_in? %>
      <%= form_with url:search_path, method: :get, local: true do |f| %>
        <%= f.select 'search[value]', [["ショートボード"],["ミッドレングス"],["ロングボード"],["ソフトボード"],["その他"]], {}, {class: "select-input"} %>
        <%= f.submit :"検索", class:"search-submit" %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<!--投稿フォームへのリンクボタン-->
<div class="post-btn">
  <div class="btn-show bgcentery"><span><%= link_to "POST", new_post_path, class:"sign_btn" %></span></div>
</div>
<!--投稿一覧-->
<%= render 'post-index', posts: @posts %>





